@font-face {font-family: "font_family_u8c";
  src: url('iconfont.eot?t=1571884865557'); /* IE9 */
  src: url('iconfont.eot?t=1571884865557#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1571884865557') format('woff'),
  url('iconfont.ttf?t=1571884865557') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1571884865557#iconfont') format('svg'); /* iOS 4.1- */
}

:global(.u8ciconfont) {
  font-family: "font_family_u8c" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e604";
}

.icon-shangyi:before {
  content: "\e606";
}

.icon-xiayi:before {
  content: "\e607";
}

.icon-morendenglu:before {
  content: "\e608";
}

.icon-time:before {
  content: "\e7c0";
}

.icon-shuzhankai:before {
  content: "\e870";
}

.icon-shushouqi:before {
  content: "\e871";
}

.icon-bangzhu:before {
  content: "\e8b5";
}

.icon-riqi:before {
  content: "\e8d2";
}

