@font-face {font-family: "font_family_u8c";
  src: url('iconfont.eot?t=1557801195019'); /* IE9 */
  src: url('iconfont.eot?t=1557801195019#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1557801195019') format('woff'),
  url('iconfont.ttf?t=1557801195019') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1557801195019#font_family') format('svg'); /* iOS 4.1- */
}

:global(.u8ciconfont) {
  font-family: "font_family_u8c" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e604";
}

.icon-shangyi:before {
  content: "\e988";
}

.icon-xiayi:before {
  content: "\ea0f";
}

.icon-morendenglu:before {
  content: "\e608";
}

.icon-jiantizhongwen:before {
  content: "\e60a";
}

.icon-fantizhongwen:before {
  content: "\e60b";
}

.icon-English:before {
  content: "\e60c";
}

.icon-kongbaiye1:before {
  content: "\e610";
}

.icon-Microphone:before {
  content: "\e611";
}

.icon-Microphone-Filled:before {
  content: "\e612";
}

.icon-Yoyo-Line:before {
  content: "\e96c";
}

.icon-Yoyo-Filled:before {
  content: "\e96b";
}

.icon-Print:before {
  content: "\e937";
}

.icon-Print-filleddayinbianma:before {
  content: "\e616";
}

.icon-Speedinesskuaisue:before {
  content: "\e942";
}

.icon-Speediness-Filledkuaisubianma:before {
  content: "\e618";
}

.icon-Expensezhichueb:before {
  content: "\e91b";
}

.icon-Expense-Filledzhichubianhao:before {
  content: "\e61a";
}

.icon-Informationzixunbianhaoef:before {
  content: "\e91f";
}

.icon-Information-Filledzixunbianhao:before {
  content: "\e61c";
}

.icon-Cloudyune:before {
  content: "\e955";
}

.icon-Cloud-Filledyunbianhao:before {
  content: "\e61e";
}

.icon-Lifebuoyjiushengquanef:before {
  content: "\e97f";
}

.icon-Lifebuoy-Filledjiushengquanbianhao:before {
  content: "\e620";
}

.icon-Targetmubiaoee:before {
  content: "\e96e";
}

.icon-Target-Filledmubiaobianhao:before {
  content: "\e622";
}

.icon-Instrumentyibiaoe:before {
  content: "\e922";
}

.icon-Instrument-Filledyibiaobianma:before {
  content: "\e624";
}

.icon-Computerdiannaoe:before {
  content: "\e915";
}

.icon-Computer-filleddiannaobianma:before {
  content: "\e626";
}

.icon-Gloryrongyaoe:before {
  content: "\e975";
}

.icon-Glory-Filledrongyaobianma:before {
  content: "\e62a";
}

.icon-Alarm-Filledbaojingbianma:before {
  content: "\e62c";
}

.icon-Walletqianbaoe:before {
  content: "\e947";
}

.icon-Wallet-Filledqianbaobianhao:before {
  content: "\e62e";
}

.icon-Applicationmanagement-Filledyingyongguanlibianhao:before {
  content: "\e630";
}

.icon-Credit-Cardxinyongqiaea:before {
  content: "\e90a";
}

.icon-Credit-Card-Filledxinyongqiabianhao:before {
  content: "\e632";
}

.icon-Analyzefenxie:before {
  content: "\e907";
}

.icon-Analyze-Filledfenxibianhao:before {
  content: "\e634";
}

.icon-Planehangbane:before {
  content: "\e900";
}

.icon-Brief-casegongwenbaoed:before {
  content: "\e91d";
}

.icon-Brief-case-Filledgongwenbaobianhao:before {
  content: "\e639";
}

.icon-Notification-Filledtongzhibianhao:before {
  content: "\e63b";
}

.icon-Recordjilue:before {
  content: "\e938";
}

.icon-Record-Filledjilubianhao:before {
  content: "\e63d";
}

.icon-Copyreaderbianjied:before {
  content: "\e92d";
}

.icon-Copyreader-Filledbianjibianhao:before {
  content: "\e640";
}

.icon-Locationdingweie:before {
  content: "\e926";
}

.icon-Location-Filleddingweibianhao:before {
  content: "\e642";
}

.icon-Staffyuangonge:before {
  content: "\e943";
}

.icon-Staff-Filledyuangongbianhao:before {
  content: "\e644";
}

.icon-Integralbufene:before {
  content: "\e923";
}

.icon-Integral-Filledbufenbianhao:before {
  content: "\e646";
}

.icon-Businessshangwuec:before {
  content: "\e90c";
}

.icon-Business-Filledshangwubianhao:before {
  content: "\e648";
}

.icon-Padpingbanec:before {
  content: "\e92c";
}

.icon-Pad-Filledpingbanbianhao:before {
  content: "\e64b";
}

.icon-Phoneshoujie:before {
  content: "\e931";
}

.icon-Phone-Filledshoujibianhao:before {
  content: "\e64d";
}

.icon-Readingyuedue:before {
  content: "\e965";
}

.icon-Reading-Filledyuedubianhao:before {
  content: "\e64f";
}

.icon-PersonalCentergerenzhongxine:before {
  content: "\e963";
}

.icon-Oracle-Filledfenxibianhao:before {
  content: "\e66d";
}

.icon-mysql-Filledfenxibianhao:before {
  content: "\e66f";
}

.icon-sqlfenxieaf:before {
  content: "\e9af";
}

.icon-sqlfenxi-Filledbianhao:before {
  content: "\e675";
}

.icon-tanzhenguanliead:before {
  content: "\e9ad";
}

.icon-tanzhenguanli-Filledbianhao:before {
  content: "\e67c";
}

.icon-mastereb:before {
  content: "\e9b3";
}

.icon-master-Filledbianhao:before {
  content: "\e67e";
}

.icon-Cardqiaee:before {
  content: "\e90e";
}

.icon-Card-Filledqiabianhao:before {
  content: "\e682";
}

.icon-Friends-spacebianhao:before {
  content: "\e985";
}

.icon-JVMbianhao:before {
  content: "\e989";
}

.icon-yonghufenxieaa:before {
  content: "\e9aa";
}

.icon-yonghufenxi-Filledbianhao:before {
  content: "\e688";
}

.icon-Clock:before {
  content: "\e911";
}

.icon-Clock-Filled:before {
  content: "\e68b";
}

.icon-Applicationmanagement-Filled:before {
  content: "\e690";
}

.icon-Document:before {
  content: "\e919";
}

.icon-Document-Filled:before {
  content: "\e693";
}

.icon-Search-Filled:before {
  content: "\e694";
}

.icon-Search:before {
  content: "\e93a";
}

.icon-Applicationmanagement-Filled1:before {
  content: "\e696";
}

.icon-Applicationmanagement1:before {
  content: "\e977";
}

.icon-Dustbin-Filled1:before {
  content: "\e698";
}

.icon-Dustbin1:before {
  content: "\e94b";
}

.icon-Comment-Filled:before {
  content: "\e69a";
}

.icon-Comment:before {
  content: "\e914";
}

.icon-Application-Filledyingyongbianhao:before {
  content: "\e69c";
}

.icon-Applicationyingyonge:before {
  content: "\e908";
}

.icon-Shrink-Filled:before {
  content: "\e69e";
}

.icon-Shrink:before {
  content: "\e941";
}

.icon-Enlargement-Filled:before {
  content: "\e6a0";
}

.icon-Enlargement:before {
  content: "\e948";
}

.icon-Service:before {
  content: "\e93d";
}

.icon-Service-Filled:before {
  content: "\e6a3";
}

.icon-Chat-Filled:before {
  content: "\e6a4";
}

.icon-Chat:before {
  content: "\e90f";
}

.icon-Toolbox-Filled:before {
  content: "\e6a6";
}

.icon-Toolbox:before {
  content: "\e945";
}

.icon-Lock-Filled:before {
  content: "\e6a8";
}

.icon-Lock:before {
  content: "\e927";
}

.icon-Navigation-Filled:before {
  content: "\e6aa";
}

.icon-Navigation:before {
  content: "\e92a";
}

.icon-Server-Filled:before {
  content: "\e6ac";
}

.icon-Server:before {
  content: "\e93c";
}

.icon-Setting:before {
  content: "\e93e";
}

.icon-AirplaneMode-Filledfeihangmoshibianhao:before {
  content: "\e6a7";
}

.icon-weiruanyaheiAirplaneModefeihangmoshied:before {
  content: "\e96d";
}

.icon-Pin-Filleddatouzhenbianhao:before {
  content: "\e6a9";
}

.icon-Pindatouzhene1:before {
  content: "\e934";
}

.icon-Print-Filleddayinbianhao:before {
  content: "\e6ad";
}

.icon-Instrument-Filledyibiaobianhao:before {
  content: "\e6af";
}

.icon-Instrument-Filledyibiaobianhao1:before {
  content: "\e6b1";
}

.icon-Configuration-Filledpeizhibianhao:before {
  content: "\e6b0";
}

.icon-Configurationpeizhie:before {
  content: "\e916";
}

.icon-Calendar-Filledrilibianhao:before {
  content: "\e6b2";
}

.icon-Calendarrilied:before {
  content: "\e90d";
}

.icon-Back-Filledhoutuibianhao:before {
  content: "\e6b3";
}

.icon-Hard-Disk-Filledyingpanbianhao:before {
  content: "\e6b4";
}

.icon-shiwufenxi-Filledbianhao:before {
  content: "\e6b5";
}

.icon-shiwufenxiea:before {
  content: "\e9a9";
}

.icon-Download-Filledxiazaibianhao:before {
  content: "\e6b6";
}

.icon-Clockindaqiae:before {
  content: "\e954";
}

.icon-xingnengjiankong-Filledbianma:before {
  content: "\e6b8";
}

.icon-xingnengjiankongea:before {
  content: "\e9a3";
}

.icon-Add-Filledtianjiabianhao:before {
  content: "\e6b9";
}

.icon-Delete-Filledshanchubianhao:before {
  content: "\e6ba";
}

.icon-Deleteshanchue:before {
  content: "\e958";
}

.icon-AddFiles-Filledtianjiawenjianbianhao:before {
  content: "\e6bb";
}

.icon-AddFilestianjiawenjianea:before {
  content: "\e94a";
}

.icon-Error-Filledcuowubianhao:before {
  content: "\e6bc";
}

.icon-Errorcuowuea:before {
  content: "\e95a";
}

.icon-DeleteFiles-Filledshanchuwenjianbianhao:before {
  content: "\e6bd";
}

.icon-DeleteFilesshanchuwenjiane:before {
  content: "\e957";
}

.icon-Correct-Filledzhengquebianhao:before {
  content: "\e6be";
}

.icon-Correctzhengquee:before {
  content: "\e956";
}

.icon-Error-Filledcuowubianhao1:before {
  content: "\e6bf";
}

.icon-Refresh-Filledshuaxinbianhao:before {
  content: "\e6c0";
}

.icon-Conserve-Filledbaocunbianhao:before {
  content: "\e6c1";
}

.icon-Conservebaocune:before {
  content: "\e917";
}

.icon-Picture-Filledtupianbianhao:before {
  content: "\e6c2";
}

.icon-Picturetupiane:before {
  content: "\e932";
}

.icon-Rolemanagement-Filledjiaoseguanlibianhao:before {
  content: "\e6c3";
}

.icon-Rolemanagementjiaoseguanlie1:before {
  content: "\e6c4";
}

.icon-PPT-Filledyanshiwengaobianhao:before {
  content: "\e6c5";
}

.icon-PPTyanshiwengaoe:before {
  content: "\e978";
}

.icon-PDF-Filledkeyizhiwendangbianhao:before {
  content: "\e6c6";
}

.icon-PDFkeyizhiwendange:before {
  content: "\e976";
}

.icon-Close-Filledguanbibianhao:before {
  content: "\e984";
}

.icon-Closeguanbiee:before {
  content: "\e97e";
}

.icon-Messagemanagement-Filledxiaoxiguanlibianhao:before {
  content: "\e6c8";
}

.icon-Messagemanagementxiaoxiguanlie:before {
  content: "\e980";
}

.icon-Messagemanagement-Filledxiaoxiguanlibianhao1:before {
  content: "\e6c9";
}

.icon-Copy-Filledfuzhibianhao:before {
  content: "\e6ca";
}

.icon-Copyfuzhieb:before {
  content: "\e98b";
}

.icon-Right-Filledzhengquebianhao:before {
  content: "\e6ce";
}

.icon-Rightzhengqueed:before {
  content: "\e98d";
}

.icon-Position-Filledzhiwubianhao:before {
  content: "\e6d0";
}

.icon-Positionzhiwue:before {
  content: "\e995";
}

.icon-Dynamics-Filleddongtaibianhao:before {
  content: "\e6d1";
}

.icon-Dynamicsdongtaie:before {
  content: "\e972";
}

.icon-Archive-Filleddanganbianhao:before {
  content: "\e6d3";
}

.icon-Archivedanganee:before {
  content: "\e98e";
}

.icon-JobGrade-Filledzhidenge:before {
  content: "\e6d4";
}

.icon-JobGradezhidenge:before {
  content: "\e993";
}

.icon-JobDuty-Filledzhiwue:before {
  content: "\e6d5";
}

.icon-JobDutyzhiwue:before {
  content: "\e992";
}

.icon-Reportbaogaoe:before {
  content: "\e939";
}

.icon-Report-Filledbaogaobianhao:before {
  content: "\e6d7";
}

.icon-Cancel-Filledquxiaobianhao:before {
  content: "\e6d6";
}

.icon-Cancelquxiaoec:before {
  content: "\e98c";
}

.icon-HelpInformation-Filledbangzhuxinxibianhao:before {
  content: "\e6d8";
}

.icon-HelpInformationbangzhuxinxie:before {
  content: "\e998";
}

.icon-Screenshaixuanee:before {
  content: "\e9e9";
}

.icon-Screen-Filledshaixuanbianhao:before {
  content: "\e6dc";
}

.icon-Screen-Filledshaixuanbianhao1:before {
  content: "\e6de";
}

.icon-Succeedchenggongee:before {
  content: "\e9e7";
}

.icon-Succeed-Filledchenggongbianhao:before {
  content: "\e6e0";
}

.icon-Favorite-Filledxiaibianhao:before {
  content: "\e6e1";
}

.icon-Favoritexiaie:before {
  content: "\e924";
}

.icon-Informationpic-Filledbianhao:before {
  content: "\e6df";
}

.icon-cuowujiankong-Filledbianhao:before {
  content: "\e6e2";
}

.icon-keyongxingjiankong-Filledbianhao:before {
  content: "\e6e3";
}

.icon-keyongxingjiankongec:before {
  content: "\e99c";
}

.icon-presentation-Filledbianhao:before {
  content: "\e6e4";
}

.icon-presentationeb:before {
  content: "\e9f4";
}

.icon-yewucaozuofenxi-Filledbianhao:before {
  content: "\e6e6";
}

.icon-yewucaozuofenxied:before {
  content: "\e99d";
}

.icon-CheckSalary-Filledchaxinzibianhao:before {
  content: "\e6e7";
}

.icon-CheckSalarychaxinziebe:before {
  content: "\e9be";
}

.icon-HRCalendar-FilledHRrilibianhao:before {
  content: "\e6e8";
}

.icon-HRCalendarHRriliec:before {
  content: "\e9c6";
}

.icon-FirmIntroduction-Filledqiyejieshaobianhao:before {
  content: "\e6e9";
}

.icon-FirmIntroductionqiyejieshaoec:before {
  content: "\e9c5";
}

.icon-Qualifications-Filledrenzhizigebianhao:before {
  content: "\e6ea";
}

.icon-Qualificationsrenzhizigeed:before {
  content: "\e9d1";
}

.icon-FAQ-Filledchangjianwendabianhao:before {
  content: "\e6eb";
}

.icon-FAQchangjianwendaec:before {
  content: "\e9c3";
}

.icon-EntryMapruzhidituec:before {
  content: "\e9c2";
}

.icon-EntryMap-Filledruzhiditubianhao:before {
  content: "\e6ed";
}

.icon-CheckSocialSecurity-Filledchashebaobianhao:before {
  content: "\e6ec";
}

.icon-CheckSocialSecuritychashebaoebf:before {
  content: "\e9bf";
}

.icon-Employee-Filledyuangonglizhibianhao:before {
  content: "\e6ee";
}

.icon-Employeeyuangonglizhiec:before {
  content: "\e9c1";
}

.icon-Care-Filledyuangongguanhuaibianhao:before {
  content: "\e6ef";
}

.icon-Careyuangongguanhuaiebc:before {
  content: "\e9bc";
}

.icon-Approval-Filledshenpibianhao:before {
  content: "\e6f0";
}

.icon-Approvalshenpieb:before {
  content: "\e9b8";
}

.icon-Vacation-Filledxiujiabianhao:before {
  content: "\e6f1";
}

.icon-Vacationxiujiaed:before {
  content: "\e9d8";
}

.icon-Vote-Filledtoupiaobianhao:before {
  content: "\e6f2";
}

.icon-Votetoupiaoe:before {
  content: "\e979";
}

.icon-AddressBooktongxunlueb:before {
  content: "\e9b6";
}

.icon-AddressBook-Filledtongxunlubianhao:before {
  content: "\e6f3";
}

.icon-MyApplication-Filledwodeshenqingbianhao:before {
  content: "\e6f4";
}

.icon-MyApplicationwodeshenqingecb:before {
  content: "\e9cb";
}

.icon-Leave-Filledqingjiabianhao:before {
  content: "\e6f5";
}

.icon-Leaveqingjiaeca:before {
  content: "\e9ca";
}

.icon-Prove-Filledkaizhengmingbianhao:before {
  content: "\e6f6";
}

.icon-Provekaizhengminged:before {
  content: "\e9d0";
}

.icon-Call-Filledbodadianhuabianhao:before {
  content: "\e6f7";
}

.icon-Callbodadianhuaeba:before {
  content: "\e9ba";
}

.icon-Change-Filledbiandongebianhao:before {
  content: "\e6f8";
}

.icon-Changebiandongebd:before {
  content: "\e9bd";
}

.icon-Need-Filleddaibanbianhao:before {
  content: "\e6f9";
}

.icon-Needdaibanecc:before {
  content: "\e9cc";
}

.icon-Already-Filledyibanbianhao:before {
  content: "\e6fa";
}

.icon-Alreadyyibaneb:before {
  content: "\e9b7";
}

.icon-Promotion-Filledyuangongzhuanzhengbianhao:before {
  content: "\e6fc";
}

.icon-Promotionyuangongzhuanzhengecf:before {
  content: "\e9cf";
}

.icon-SocialSecurity-Filledyidicanbaobianhao:before {
  content: "\e6fd";
}

.icon-Increasedecrease-Filledshebaozengjianyuanbianhao:before {
  content: "\e700";
}

.icon-Overtimejiabanecd:before {
  content: "\e9cd";
}

.icon-Overtime-Filledjiabanbianhao:before {
  content: "\e702";
}

.icon-Sharegongxiange:before {
  content: "\e940";
}

.icon-Share-Filledgongxiangbianhao:before {
  content: "\e703";
}

.icon-Financinglicaiec:before {
  content: "\e9c4";
}

.icon-Financing-Filledlicaibianhao:before {
  content: "\e705";
}

.icon-Calculatorjisuanqie:before {
  content: "\e953";
}

.icon-Calculator-Filledjisuanqibianhao:before {
  content: "\e706";
}

.icon-Questionnaire-Filledtiaochawenjuanbianhao:before {
  content: "\e704";
}

.icon-Questionnairetiaochawenjuaned:before {
  content: "\e9d2";
}

.icon-AttendanceCenter-Filledkaoqinzhongxinbianhao:before {
  content: "\e707";
}

.icon-AttendanceCenterkaoqinzhongxineb:before {
  content: "\e9b9";
}

.icon-AccumulationFundgongjijineb:before {
  content: "\e9b5";
}

.icon-AccumulationFund-Filledgongjijinbianhao:before {
  content: "\e709";
}

.icon-Information-Filledxinxibianhao:before {
  content: "\e708";
}

.icon-Recommendation-Filledrencaituijianbianhao:before {
  content: "\e70a";
}

.icon-Recommendationrencaituijianed:before {
  content: "\e9d3";
}

.icon-Train-Filledpeixunbianhao:before {
  content: "\e70b";
}

.icon-Trainpeixuned:before {
  content: "\e9d7";
}

.icon-Call-Filleddianhuabianhao:before {
  content: "\e70c";
}

.icon-Resume-Filledjianlibianhao:before {
  content: "\e70d";
}

.icon-Resumejianlied:before {
  content: "\e9d4";
}

.icon-Settle-account-Filledjiezhangbianhao:before {
  content: "\e70e";
}

.icon-Settle-accountjiezhangef:before {
  content: "\e93f";
}

.icon-Price-Filledjiagebianhao:before {
  content: "\e70f";
}

.icon-Pricejiagee:before {
  content: "\e912";
}

.icon-Loan-Filleddaikuanbianhao:before {
  content: "\e710";
}

.icon-Loandaikuane:before {
  content: "\e949";
}

.icon-Bill-Filledzhangdanbianhao:before {
  content: "\e711";
}

.icon-Billzhangdaneb:before {
  content: "\e90b";
}

.icon-ChargeUpjizhange:before {
  content: "\e970";
}

.icon-ChargeUp-Filledjizhangbianhao:before {
  content: "\e713";
}

.icon-Wallet-Filledqianbaobianhao1:before {
  content: "\e712";
}

.icon-E-maildianziyoujianea:before {
  content: "\e91a";
}

.icon-E-mail-Filleddianziyoujianbianhao:before {
  content: "\e715";
}

.icon-Sendfasongeb:before {
  content: "\e93b";
}

.icon-Send-Filledfasongbianhao:before {
  content: "\e716";
}

.icon-Check-Filledchayuebianhao:before {
  content: "\e717";
}

.icon-Checkchayuee:before {
  content: "\e910";
}

.icon-Messagexiaoxie:before {
  content: "\e929";
}

.icon-Message-Filledxiaoxibianhao:before {
  content: "\e718";
}

.icon-Praise-Filledhaopingbianhao:before {
  content: "\e719";
}

.icon-Praisehaopinge:before {
  content: "\e935";
}

.icon-Bad-Filledchapingbianhao:before {
  content: "\e71a";
}

.icon-Badchapinge:before {
  content: "\e909";
}

.icon-Love-Filledxiaibianhao:before {
  content: "\e71b";
}

.icon-Lovexiaie:before {
  content: "\e928";
}

.icon-Expression-Filledbiaoqingbianhao:before {
  content: "\e71c";
}

.icon-Expression-Filledbiaoqingbianhao1:before {
  content: "\e71d";
}

.icon-Expressionbiaoqingee:before {
  content: "\e92e";
}

.icon-CurrencyConversion-Filledhuishuaizhuanhuanbianhao:before {
  content: "\e71e";
}

.icon-CurrencyConversionhuishuaizhuanhuane:before {
  content: "\e971";
}

.icon-Group-Filledqunzubianhao:before {
  content: "\e71f";
}

.icon-Groupqunzue:before {
  content: "\e944";
}

.icon-Personal-Details-Filledgerenxinxibianhao:before {
  content: "\e720";
}

.icon-Personal-Detailsgerenxinxie:before {
  content: "\e930";
}

.icon-Add-Friends-Filledtianjiahaoyoubianhao:before {
  content: "\e721";
}

.icon-Add-Friendstianjiahaoyoue:before {
  content: "\e906";
}

.icon-Delete-Friends-Filledshanchuhaoyoubianhao:before {
  content: "\e722";
}

.icon-HRGuide-FilledHRzhinanbianhao:before {
  content: "\e723";
}

.icon-HRGuideHRzhinanec:before {
  content: "\e9c7";
}

.icon-Default-Filledmorenbianhao:before {
  content: "\e724";
}

.icon-Defaultmorene:before {
  content: "\e990";
}

.icon-Windfengee:before {
  content: "\e9e6";
}

.icon-Typhoontaifengee:before {
  content: "\e9e5";
}

.icon-Sandstormshachenbaoee:before {
  content: "\e9e0";
}

.icon-Thunderleidianee:before {
  content: "\e9e4";
}

.icon-Cloudynightwanjianduoyuned:before {
  content: "\e9d9";
}

.icon-Overcastyinede:before {
  content: "\e9de";
}

.icon-Hazewumaiedc:before {
  content: "\e9dc";
}

.icon-fuchen:before {
  content: "\e72d";
}

.icon-Hailbingbaoedb:before {
  content: "\e9db";
}

.icon-Sleetyujiaxueee:before {
  content: "\e9e1";
}

.icon-Rainyuedf:before {
  content: "\e9df";
}

.icon-Cloudyduoyunec:before {
  content: "\e9c0";
}

.icon-Nightyewanedd:before {
  content: "\e9dd";
}

.icon-Snowxueee:before {
  content: "\e9e2";
}

.icon-Sunnyqingee:before {
  content: "\e9e3";
}

.icon-Refreshshuaxine1:before {
  content: "\e966";
}

.icon-Internethulianwangee:before {
  content: "\e95e";
}

.icon-YY-Cloudyongyouyune:before {
  content: "\e905";
}

.icon-Downloadxiazaie:before {
  content: "\e903";
}

.icon-Displayzhanshie:before {
  content: "\e901";
}

.icon-Hideyincange:before {
  content: "\e913";
}

.icon-Moregengduoe:before {
  content: "\e961";
}

.icon-Performancejixiaoece:before {
  content: "\e9ce";
}

.icon-Scansaoyisaoed:before {
  content: "\e9d5";
}

.icon-Chaininglianjiee:before {
  content: "\e925";
}

.icon-Tabulationliebiaoe:before {
  content: "\e969";
}

.icon-Loadingjiazaie:before {
  content: "\e960";
}

.icon-Forwardxiangqianec:before {
  content: "\e95c";
}

.icon-Backhoutuief:before {
  content: "\e94f";
}

.icon-Upwardshanglaea:before {
  content: "\e96a";
}

.icon-Pull-Downxialae:before {
  content: "\e964";
}

.icon-Determinequedingeeb:before {
  content: "\e9eb";
}

.icon-Facerecognitionrenlianshibieeec:before {
  content: "\e9ec";
}

.icon-classificationfenleieee:before {
  content: "\e9ee";
}

.icon-Derivationdaochuec:before {
  content: "\e91c";
}

.icon-Returnfanhuie:before {
  content: "\e946";
}

.icon-Addtianjiaec:before {
  content: "\e94c";
}

.icon-Homeshouyee:before {
  content: "\e902";
}

.icon-ReferenceCustomizationyinyongzidingyie:before {
  content: "\e996";
}

.icon-ReferenceCustomization-Filledyinyongzidingyibianhao:before {
  content: "\e73d";
}

.icon-Error-Filledchucuobianhao:before {
  content: "\e73f";
}

.icon-MaterialClassification-Filledwuliaofenleibianhao:before {
  content: "\e740";
}

.icon-MaterialClassificationwuliaofenleie:before {
  content: "\e994";
}

.icon-Taxichuzucheef:before {
  content: "\e96f";
}

.icon-Taxi-Filledchuzuchebianhao:before {
  content: "\e742";
}

.icon-tixing:before {
  content: "\e743";
}

.icon-tixing-f:before {
  content: "\e744";
}

.icon-Appliedclassificationyingyongfenleibianhao:before {
  content: "\e745";
}

.icon-Appliedclassification-fyingyongfenleibianhao:before {
  content: "\e746";
}

.icon-Equipmentmanagementshebeiguanli:before {
  content: "\e747";
}

.icon-Equipmentmanagement-Filledshebeiguanli:before {
  content: "\e748";
}

.icon-Typewritingshurufa:before {
  content: "\e749";
}

.icon-Typewriting-Fillshurufa:before {
  content: "\e74a";
}

.icon-Audiotshiting:before {
  content: "\e74b";
}

.icon-loopxunhuan:before {
  content: "\e74c";
}

.icon-Multipleduoxiang:before {
  content: "\e74d";
}

.icon-Multiple-Filledduoxiang:before {
  content: "\e74e";
}

.icon-Listliedan:before {
  content: "\e74f";
}

.icon-List-Filledliedan:before {
  content: "\e750";
}

.icon-Theme-Filledzhuti:before {
  content: "\e751";
}

.icon-Themezhuti:before {
  content: "\e752";
}

.icon-Block-Filledqukuai:before {
  content: "\e753";
}

.icon-Blockqukuai:before {
  content: "\e754";
}

.icon-Historylishiea:before {
  content: "\ea16";
}

.icon-Setting-Filled1:before {
  content: "\ea17";
}

.icon-shouye1:before {
  content: "\ea0e";
}

.icon-newsea:before {
  content: "\ea10";
}

.icon-yuyanshezhi1:before {
  content: "\ea15";
}

.icon-Delete-Friendsshanchuhaoyoue:before {
  content: "\e918";
}

.icon-Hard-Diskyingpan:before {
  content: "\e91e";
}

.icon-Instrumentyibiaoe3:before {
  content: "\e921";
}

.icon-Instrumentyibiaoe4:before {
  content: "\e920";
}

.icon-Expressionbiaoqingef:before {
  content: "\e92f";
}

.icon-Pindatouzhene:before {
  content: "\e933";
}

.icon-Printdayine:before {
  content: "\e936";
}

.icon-Informationpice:before {
  content: "\e778";
}

.icon-Notice-Filledzhuyibianhao:before {
  content: "\e75d";
}

.icon-Noticezhuyie:before {
  content: "\e999";
}

.icon-Exittuichue:before {
  content: "\e991";
}

.icon-CloudUpdateyunshangchuane:before {
  content: "\e904";
}

.icon-Backhoutuie:before {
  content: "\e950";
}

.icon-Rolemanagementjiaoseguanlie2:before {
  content: "\e982";
}

.icon-Messagemanagementxiaoxiguanlie1:before {
  content: "\e981";
}

.icon-Applicationmanagementyingyongguanliec:before {
  content: "\e97c";
}

.icon-Walletqianbaoea:before {
  content: "\e97a";
}

.icon-Errorcuowue:before {
  content: "\e973";
}

.icon-Refreshshuaxine2:before {
  content: "\e967";
}

.icon-Applicationmanagement:before {
  content: "\e97d";
}

.icon-Addtianjiaed:before {
  content: "\e94d";
}

.icon-Backhoutuie1:before {
  content: "\e951";
}

.icon-Alarmbaojingee:before {
  content: "\e94e";
}

.icon-javafuwueac1:before {
  content: "\e9ac";
}

.icon-presentationeb1:before {
  content: "\e9b4";
}

.icon-BlankPagekongbaiyee:before {
  content: "\e952";
}

.icon-Downloadxiazaie1:before {
  content: "\e959";
}

.icon-Errorcuowueb:before {
  content: "\e95b";
}

.icon-Forwardxiangqianed:before {
  content: "\e95d";
}

.icon-Internethulianwangef:before {
  content: "\e95f";
}

.icon-Pin-Filleddatouzhenbianhao1:before {
  content: "\e98a";
}

.icon-Errorchucuoe:before {
  content: "\e997";
}

.icon-quanxuaneae:before {
  content: "\e9ae";
}

.icon-quanxuan-Filledbianhao:before {
  content: "\e77a";
}

.icon-Calldianhuaebb:before {
  content: "\e9bb";
}

.icon-Increasedecreaseshebaozengjianyuanec:before {
  content: "\e9c8";
}

.icon-Informationxinxiec:before {
  content: "\e9c9";
}

.icon-SocialSecurityyidicanbaoed:before {
  content: "\e9d6";
}

.icon-Cloudyduoyuneda:before {
  content: "\e9da";
}

.icon-Screenshaixuanee1:before {
  content: "\e9e8";
}

.icon-Facerecognitionrenlianshibieeed:before {
  content: "\e9ed";
}

.icon-classificationfenleieef:before {
  content: "\e9ef";
}

.icon-Rolemanagementjiaoseguanlie:before {
  content: "\e983";
}

.icon-Rolemanagementjiaoseguanlie4:before {
  content: "\e9ab";
}

.icon-Applicationmanagementyingyongguanliec1:before {
  content: "\e99a";
}

.icon-quanxianguanliauthority-management:before {
  content: "\e99b";
}

.icon-mysqlfenxief:before {
  content: "\e99f";
}

.icon-Oraclefenxiea:before {
  content: "\e9a0";
}

.icon-Homeshouyee1:before {
  content: "\e9a1";
}

.icon-Configurationpeizhie1:before {
  content: "\e9a2";
}

.icon-diyufenxiea:before {
  content: "\e9a4";
}

.icon-sqlserver:before {
  content: "\e9a5";
}

.icon-Groupqunzue1:before {
  content: "\e9a6";
}

.icon-Rolemanagementjiaoseguanlie5:before {
  content: "\e9a7";
}

.icon-zhongduanfenxiea:before {
  content: "\e9a8";
}

.icon-zhongduanfenxi-Filledbianhao:before {
  content: "\e793";
}

.icon-Analyzefenxie1:before {
  content: "\e9b0";
}

.icon-Server1:before {
  content: "\e9b1";
}

.icon-Informationzixunbianhaoef1:before {
  content: "\e9b2";
}

.icon-Help-documentea:before {
  content: "\ea03";
}

.icon-Overviewea:before {
  content: "\ea04";
}

.icon-PersonalCenter-Filledgerenzhongxinbianhao:before {
  content: "\e9fd";
}

.icon-Alarmbaojingee1:before {
  content: "\e9fb";
}

.icon-Notificationtongzhieb1:before {
  content: "\e92b";
}

.icon-Refreshshuaxine:before {
  content: "\e968";
}

.icon-one-to-two:before {
  content: "\ea07";
}

.icon-pie:before {
  content: "\e9ff";
}

.icon-card:before {
  content: "\ea01";
}

.icon-alarm-management:before {
  content: "\e9fc";
}

.icon-table:before {
  content: "\e9fe";
}

.icon-three-bisection:before {
  content: "\ea08";
}

.icon-line:before {
  content: "\ea00";
}

.icon-title:before {
  content: "\ea05";
}

.icon-probe-downloading:before {
  content: "\e9f3";
}

.icon-two-to-one:before {
  content: "\ea0b";
}

.icon-paragraph:before {
  content: "\ea06";
}

.icon-a-column:before {
  content: "\ea0c";
}

.icon-tree-minus-sign:before {
  content: "\e987";
}

.icon-tree-plus-sign:before {
  content: "\e986";
}

.icon-words:before {
  content: "\ea0a";
}

.icon-anr:before {
  content: "\e9f9";
}

.icon-picture:before {
  content: "\ea09";
}

.icon-js-error:before {
  content: "\e9f6";
}

.icon-bar:before {
  content: "\ea02";
}

.icon-collapse:before {
  content: "\e9f7";
}

.icon-page-analysis:before {
  content: "\e9f5";
}

.icon-apache:before {
  content: "\e9fa";
}

.icon-request-error:before {
  content: "\e9f2";
}

.icon-business-operation-check-error:before {
  content: "\e9f8";
}

.icon-was-service-monitoring:before {
  content: "\e9f0";
}

.icon-two-column:before {
  content: "\ea0d";
}

.icon-more:before {
  content: "\ea11";
}

.icon-hebingxingzhuang:before {
  content: "\e9f1";
}

.icon-authoriseef:before {
  content: "\e98f";
}

.icon-word:before {
  content: "\e97b";
}

.icon-excel:before {
  content: "\e974";
}

.icon-Clockindaqiabianhao:before {
  content: "\e6b7";
}

.icon-Planehangbanbianhao:before {
  content: "\e636";
}

.icon-diyufenxi-Filledbianhao:before {
  content: "\e78d";
}

.icon-cuowujiankongee:before {
  content: "\e99e";
}

.icon-picture1:before {
  content: "\e818";
}

.icon-pdf:before {
  content: "\e819";
}

.icon-word1:before {
  content: "\e81a";
}

.icon-amplification:before {
  content: "\e81b";
}

.icon-excel1:before {
  content: "\e81c";
}

.icon-file:before {
  content: "\e81d";
}

.icon-checkpending:before {
  content: "\e81f";
}

.icon-warningmessage:before {
  content: "\e820";
}

.icon-help:before {
  content: "\e821";
}

.icon-tofillinnews:before {
  content: "\e822";
}

.icon-mroe:before {
  content: "\e823";
}

.icon-Collection-line:before {
  content: "\e824";
}

.icon-Collection-solid:before {
  content: "\e825";
}

.icon-application:before {
  content: "\e83c";
}

.icon-classification:before {
  content: "\e83d";
}

.icon-zuixiao:before {
  content: "\e83e";
}

.icon-stract:before {
  content: "\e81e";
}

.icon-open:before {
  content: "\e83f";
}

.icon-Market:before {
  content: "\e827";
}

.icon-Businessmanagement:before {
  content: "\e828";
}

.icon-Marketing:before {
  content: "\e829";
}

.icon-Stock:before {
  content: "\e82a";
}

.icon-Marketing1:before {
  content: "\e82b";
}

.icon-Meter:before {
  content: "\e82c";
}

.icon-Humanresources:before {
  content: "\e830";
}

.icon-Capital:before {
  content: "\e831";
}

.icon-Businessmanagement1:before {
  content: "\e832";
}

.icon-Purchase:before {
  content: "\e833";
}

.icon-Supplychain:before {
  content: "\e834";
}

.icon-Capital1:before {
  content: "\e835";
}

.icon-Finance:before {
  content: "\e836";
}

.icon-Market1:before {
  content: "\e837";
}

.icon-Humanresources1:before {
  content: "\e838";
}

.icon-Marketing2:before {
  content: "\e839";
}

.icon-Stock1:before {
  content: "\e83a";
}

.icon-Finance1:before {
  content: "\e83b";
}

.icon-Purchase1:before {
  content: "\e840";
}

.icon-Marketing3:before {
  content: "\e841";
}

.icon-Supplychain1:before {
  content: "\e842";
}

.icon-Humanresources2:before {
  content: "\e843";
}

.icon-Purchase2:before {
  content: "\e844";
}

.icon-Market2:before {
  content: "\e845";
}


/* 原来的 */

.icon-time:before {
  content: "\e7c0";
}

.icon-Storyversion:before {
  content: "\e846";
}

.icon-Report:before {
  content: "\e847";
}

.icon-Defaultfolder:before {
  content: "\e848";
}

.icon-shoucang:before {
  content: "\e849";
}

.icon-chexiao:before {
  content: "\e84a";
}

.icon-biaoqian:before {
  content: "\e84b";
}

.icon-fangda:before {
  content: "\e84c";
}

.icon-huadongtiao:before {
  content: "\e84d";
}

.icon-juzhong:before {
  content: "\e84e";
}

.icon-pingpu:before {
  content: "\e84f";
}

.icon-jilian:before {
  content: "\e850";
}

.icon-riqishijian:before {
  content: "\e851";
}

.icon-shijian:before {
  content: "\e852";
}

.icon-riqi:before {
  content: "\e853";
}

.icon-shurukuang:before {
  content: "\e854";
}

.icon-riqixian:before {
  content: "\e855";
}

.icon-baocun:before {
  content: "\e856";
}

.icon-shuzhi:before {
  content: "\e857";
}

.icon-keshihua:before {
  content: "\e858";
}

.icon-daochu:before {
  content: "\e859";
}

.icon-jingdu:before {
  content: "\e85a";
}

.icon-yulan:before {
  content: "\e85b";
}

.icon-shouqi:before {
  content: "\e85c";
}

.icon-suoxiao:before {
  content: "\e85d";
}

.icon-shuliebiao:before {
  content: "\e85e";
}

.icon-shaixuanqi:before {
  content: "\e85f";
}

.icon-liebiao:before {
  content: "\e860";
}

.icon-zhankai:before {
  content: "\e861";
}

.icon-zuoduiqi:before {
  content: "\e862";
}

.icon-zifuchuan:before {
  content: "\e863";
}

.icon-fenxiang:before {
  content: "\e864";
}

.icon-gengduo:before {
  content: "\e865";
}

.icon-url:before {
  content: "\e866";
}

.icon-weidu:before {
  content: "\e867";
}

.icon-zhongzuo:before {
  content: "\e868";
}

.icon-shuxiala:before {
  content: "\e869";
}

.icon-wenben:before {
  content: "\e86a";
}

.icon-tupian:before {
  content: "\e86b";
}

.icon-wenbenxiala:before {
  content: "\e86c";
}

.icon-riqiqujian:before {
  content: "\e86d";
}

.icon-hebingxingzhuang1:before {
  content: "\e86e";
}

.icon-time:before {
  content: "\e7c0";
}

.icon-shaixuan:before {
  content: "\e603";
}

.icon-wenjianjia:before {
  content: "\e604";
}

.icon-yuyanshezhi:before {
  content: "\e605";
}

.icon-shangyi:before {
  content: "\e988";
}

.icon-xiayi:before {
  content: "\ea0f";
}

.icon-morendenglu:before {
  content: "\e608";
}

.icon-jiantizhongwen:before {
  content: "\e60a";
}

.icon-fantizhongwen:before {
  content: "\e60b";
}

.icon-English:before {
  content: "\e60c";
}

.icon-zhuxiao:before {
  content: "\e60d";
}

