.btn {
  margin-right: 10px;
  display: inline-block;
}

.closeBtn {
  position: absolute;
  font-size: 18px;
  color: #757F8C;
  cursor: pointer;
  /* TODO -- remove important */
  height: 32px !important;
  width: 32px !important;
  right: 8px;
  top: 8px;
  text-align: center;
  line-height: 32px;
}
.closeBtn :global(.iconfont){
  color: #888888;
}
:global(.u-modal.fade) {
  transition: none;
}

:global(.u-modal.in .u-modal-dialog) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)!important;
  -ms-transform: translate(-50%, -50%)!important;   /* IE 9 */
  -webkit-transform: translate(-50%, -50%)!important;    /* Safari and Chrome */
  -o-transform: translate(-50%, -50%)!important;       /* Opera */
  -moz-transform: translate(-50%, -50%)!important;     /* Firefox */
  margin: 0px;
  color: #474D54;
  min-width: 370px;
  width:370px;
}
:global(.u-modal.in .u-modal-dialog) >div{
  box-shadow: 0px 6px 8px 0px rgba(74,81,93,0.25);
}
:global(.u-modal-body) {
  /* TODO -- remove important */
  padding-right: 52px !important;
  margin-top:12px; /* 防止遮挡header上的关闭按钮*/
}

/************************ error *************************/

.pop_type.error :global(.u-modal-title > .iconfont) {
  margin-right: 8px;
  color: #BD3646;
  font-weight: 900;
  font-size: 32px;
  position: absolute; 
  left: 22px;
  top: 37px;
}

.pop_type.error :global(.u-modal-dialog .u-modal-title) {
  font-size: 19px;
    line-height: 24px;
    color: #111111;
}

.pop_type.error :global(.u-modal-body) {
  font-size: 14px;
  padding: 0px;
  padding-left: 60px;
  padding-bottom: 6px;
  line-height: 26px;
}

.pop_type.error :global(.u-modal-header) {
    padding-top: 40px;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 52px;
}

/* .pop_type.error :global(.u-modal-footer .brand){
  background: #4C4C4C;
  color:rgba(255,255,255,1);
} */

/************************ warning *************************/

.pop_type.warning :global(.u-modal-title > .iconfont) {
  margin-right: 8px;
  color: #FF8B00;
  font-weight: 900;
  font-size: 32px;
  position: absolute;
  left: 22px;
  top: 37px;
}

.pop_type.warning :global(.u-modal-dialog .u-modal-title) {
  font-size: 19px;
    line-height: 24px;
}

.pop_type.warning :global(.u-modal-body) {
  font-size: 14px;
  padding: 0px;
  padding-left: 60px;
  padding-bottom: 6px;
  line-height: 26px;
}

.pop_type.warning :global(.u-modal-header) {
    padding-top: 40px;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 52px;
}
.pop_type.warning :global(.u-modal.in .u-modal-dialog) >div{
  border: 1px dashed rgba(0, 0, 0, 0.4);
}
/* .pop_type.warning :global(.u-modal-footer .brand){
  background: #FFAB00;
  color:#474D54;
} */

/************************ danger *************************/

.pop_type.danger :global(.u-modal-title > .iconfont) {
  margin-right: 8px;
  color: #108EE9;
  font-weight: 900;
  font-size: 32px;
  position: absolute;
  left: 22px;
  top: 37px;
}

.pop_type.danger :global(.u-modal-dialog .u-modal-title) {
  font-size: 19px;
    line-height: 24px;
}

.pop_type.danger :global(.u-modal-body) {
  font-size: 14px;
  padding: 0px;
  padding-left: 60px;
  padding-bottom: 6px;
  line-height: 26px;
}

.pop_type.danger :global(.u-modal-header) {
    padding-top: 40px;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 52px;
}
.pop_type.danger :global(.u-modal.in .u-modal-dialog) >div{
  border: 1px dashed rgba(0, 0, 0, 0.4);
}
/************************ success *************************/

.pop_type.success :global(.u-modal-title > .iconfont) {
  margin-right: 8px;
  color: #00B39E;
  font-weight: 900;
  font-size: 32px;
  position: absolute;
  left: 22px;
  top: 37px;
}

.pop_type.success :global(.u-modal-dialog .u-modal-title) {
  font-size: 19px;
    line-height: 24px;
}

.pop_type.success :global(.u-modal-body) {
  font-size: 14px;
  padding: 0px;
  padding-left: 60px;
  padding-bottom: 6px;
  line-height: 26px;
}

.pop_type.success :global(.u-modal-header) {
    padding-top: 40px;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 52px;
}
.pop_type.success :global(.u-modal.in .u-modal-dialog) >div{
  border: 1px dashed rgba(0, 0, 0, 0.4);
}

.pop_type :global(.u-modal-dialog .u-modal-footer) {
  padding-top: 32px ;
  padding-bottom: 18px ;
}