.u-pagination-gap>li>a{
    width:28px;
    height:28px;
    background:rgba(9,30,66,0.04);
    border-color: #e9e7e7;
    border-radius: 4px ;
    line-height: 28px;
    padding:0;
  }
  .u-pagination-gap>li>a:hover{
    border-color:#FCEDEC;
  }
  .u-pagination>.active>a, .u-pagination>.active>a:focus, .u-pagination>.active>a:hover, .u-pagination>.active>span, .u-pagination>.active>span:focus, .u-pagination>.active>span:hover{
    border-color: #FCEDEC;
    background: #FCEDEC;
    color: #E14C46;
  }
  .u-pagination>.disabled>a, .u-pagination>.disabled>a:focus, .u-pagination>.disabled>a:hover, .u-pagination>.disabled>span, .u-pagination>.disabled>span:focus, .u-pagination>.disabled>span:hover{
    background: rgba(9,44,66,0.04);
  }