.searchPanel{
    width:456px;
    margin: 5px 0;
    position: relative;
}
.searchPanel .serviceSearch{
    width: 100%;
    height:32px;
    transition: none;
    border-radius: 3px 0 0 3px;
    padding-right: 104px;
}
.search_icon_con{
    width: 95px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    display: flex;
    vertical-align: middle;
    cursor: pointer;
}
.search_icon_con > b{
    color: #d9d9d9;
    font-weight: normal;
    position: relative;
    left: -2px;
}
.search_icon_con > i {
    margin-left: 18px;
    margin-top: 5px;
    margin-right: 8px;
}
.search_icon_con > span{
  
}
.search_icon_con:hover{
    background: #f3f3f3;
}
.search_icon_con:hover span{
    color: #E14C46;
}
.search_icon_con:hover :global(.iconfont){
    color: #E14C46;
}
