.notification_mess{
  width: auto;
  height: auto;
  top:102px !important;
  margin-left: -264px;
  left: 50%;
}
.notification_mess :global(.u-notification-notice){
  /* width: 528px; */
  height:auto;
  min-width: 194px;
  padding: 0 26px 0 14px;
}

.notification_cont{
  /* margin-top: 3px; */
  font-size: 12px;
  margin-left: 22px;
  white-space: normal;
  color: #666;
  margin-bottom:8px;
}
._close{
  position: absolute;
  right: 0;
  top: 9px;
  color:#555;
  font-size: 14px
}
._title{
  /* font-size:16px; */
  /* height: 30px; */
  /* line-height: 20px; */
  position: relative;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
}
._title i._tip{
  vertical-align: -16%;
  margin-right: 9px;
  display: inline-block;
  /* margin-right: 24px; */
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.title_cont{
  font-size:12px;
  /* font-weight: bold; */
  color:rgba(102,102,102,1);
}
.notification_mess :global(.u-notification-notice){
  border-radius: 4px ;
}

/*** warning ***/
.warning_cont :global(.u-notification-notice){
  background:rgba(255,171,0,0.05);
  box-shadow: 0px 10px 12px 0px rgba(74,81,93,0.25);
  border: 1px solid RGBA(255, 171, 0, 0.5);
  /* border-top: 3px solid RGBA(255, 171, 0, 0.5); */
}
.warning_cont  ._title{
  color:rgba(255,139,0,1);
}
.warning_cont  ._title i._tip{
  color:rgba(255,139,0,1);
}
/*** success ***/
.success_cont :global(.u-notification-notice){
  background:rgba(0,179,158,0.05);
  box-shadow: 0px 10px 12px 0px rgba(74,81,93,0.25);
  border: 1px solid RGBA(0, 179, 158, 0.5);
  border-top: 3px solid RGBA(65, 204, 179, 1);
  background: rgba(235,248,242,1);
  border: 1px solid rgba(167,225,196,1);
}
.success_cont  ._title{
  color:RGBA(0, 179, 158, 1);
}
.success_cont  ._title i._tip{
  color:RGBA(0, 179, 158, 1);
}
 /*** info ***/
.info_cont :global(.u-notification-notice){
  background:rgba(16,142,233,0.05);
  box-shadow: 0px 10px 12px 0px rgba(74,81,93,0.25);
  border: 1px solid RGBA(16, 142, 233, 0.5);
  /* border-top: 3px solid RGBA(16, 142, 233, 1); */
}
.info_cont  ._title{
  color:RGBA(16, 142, 233, 1);
}
.info_cont  ._title i._tip{
  color:RGBA(16, 142, 233, 1);
}
 /*** error ***/
 .error_cont :global(.u-notification-notice){
  /* background:rgba(255,255,255,1);
  box-shadow: 0px 10px 12px 0px rgba(74,81,93,0.25);
  border: 1px solid RGBA(76, 76, 76, 0.5);
  border-top: 3px solid RGBA(189, 54, 70, 1); */
  background: rgba(254,243,235,1);
  box-shadow: 0px 10px 12px 0px rgba(14, 35, 71, 0.15);
  /* border: 1px solid RGBA(189, 54, 70, 0.5);
  border-top: 3px solid RGBA(189, 54, 70, 1); */
  border: 1px solid rgba(252,204,167,1);
}
.error_cont  ._title{
  /* color:RGBA(71, 77, 84, 1); */
  color: RGBA(189, 54, 70, 1);
}
.error_cont  ._title i._tip{
  /* color:RGBA(71, 77, 84, 1); */
  color:#FA785A;
}